
<% if @answers == "I am going to work" %>
<p><%= @answers %></p>
<p>- You</p>
<p>Great!</p>
<p>- Your coach</p>
<% elsif @answers.last == "?"%>
<p><%= @answers %></p>
<p>- You</p>
<p>Silly question, get dressed and go to work!</p>
<p>- Your coach</p>
<% else %>
<p><%= @answers %></p>
<p>- You</p>
<p>I don't care, get dressed and go to work!</p>
<p>- Your coach</p>
<% end %>

<%= link_to "Ask a new question", ask_path %>
